fastapi
uvicorn[standard]
google-generativeai
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.1.7
pandas
openpyxl
fpdf2
line-bot-sdk
python-multipart
google-cloud-firestore
google-cloud-storage
requests
pdf2image
Pillow